@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Val Thorens is a world-famous ski resort in the French Alps. Situated at an altitude of 2,300 metres, it is the highest resort in Europe and offers stunning views of the surrounding mountains. The resort has a great selection of pistes to suit all abilities, as well as a lively après-ski scene.</p>
